@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*-----------------------class couleur-----------------------------*/

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.bg-brown {
    background-color: #996830;
    height: 50vh;
}

.bg-brown2 {
    background-color: #996830;
    
}



/*------------------------class generales--------------------------*/
.flex {
    /*rendre flexible un parent c rendre flexible ses enfant*/
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.button {
    background-color: #996830;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button2 {
    background-color: black;
    color: white;
    padding: 5px 15px;
    display: inline-block;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-500 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.gap14 {
    gap: 14px;
}

.gap64 {
    gap: 64px;
}

/*--------------------------classes de dimenssions------------------------*/

.w-100 {
    width: 100%;
}
.w-80{
    width: 80%;
}

.w-48 {
    width: 48%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-33 {
    width: 33%;
}

.w-30 {
    width: 30%;
}

.w-23 {
    width: 23%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}



/*---------------------class de texte----------------------*/
.txtwhite {
    color: white;
}

.txtbrown {
    color: #996830;
}

.txtcenter {
    text-align: center;
}

.margin-top100 {
    margin-top: 100px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.padding15 {
    padding: 15px;
}

.padding50 {
    padding: 50px;
}

.margin-top50 {
    margin-top: 50px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top10 {
    margin-top: 10px;
}
.bigger {
    font-size: 70px;
}

.bigger2 {
    font-size: 30px;
}

.bigger3 {
    font-size: 15px;
}

.smaller {
    font-size: 15px;
}

.outfit {
    font-family: "Outfit", sans-serif;
}

.playfair{
    font-family:"Playfair Display", serif ;
}

.trait {
    height: 2px;
    width: 70px;
    background-color: #996830;
}

.traitw {
    height: 2px;
    width: 70px;
    background-color: white;
}


.bold{
    font-weight: bolder;
}

.light{
    font-weight: lighter;
}
.image-real {
    height: 270px;
    object-fit: cover;
    object-position: center;
}
/*----------------------------class communication direct-------------------------------*/
li {
    list-style-type: none;
    font-family: "Outfit", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

input{
    display: block;
}

h1{
    font-size: 20px;
}

h2,
h3 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

p {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

header{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

header p {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 10px;
}





/*---------------------------------header-----------------------------*/

/*----------------------------------main-----------------------------*/

/*----------------------------section hero----------------------------*/
.bg-hero {
    background-image: url(asset-architecture/asset-architecture/hero-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/*----------------------------------section nos services--------------------*/

/*-------------------------section nos engagements--------------------------*/

/*-------------------------------section Projets---------------------------*/

/*-----------------------------section Temoignage---------------------------*/

/*----------------------------------footer----------------------------------*/